body {
    background-color: rgb(246, 114, 26)
}

h1 {
    color: black;
    text-align: center;
    font-family: Nabla;
    font-size: 100px;
    text-shadow: -10px 10px 5px rgb(207, 80, 12);

}

.Intro1 {
    background-color: rgb(248, 206, 19);
    float: right;
    border-radius: 15px;
    margin-right: 125px;
    margin-top: 80px;
    padding: 40px;
}

.photo1 {
    margin-top: 50px;
}

.Friends {
    font-family: "Nabla";
    font-size: 42px;
    text-align: center;
    float: center;
    border-radius: 15px;
    padding: 5px;
}

button {
    display: inline;
    background-color: rgb(246, 114, 26);
    border: 1px solid rgb(246, 114, 26);
    width: 25%;
    float: left;
    font-family: "Dosis";
    font-size: 36px;
    letter-spacing: 5px;
    padding: 10px;

}

button:hover {
    background-color: #5475ad;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.Name {
    text-align: center;
    font-size: 48px;
    font-family: Nabla;
    font-weight: 50;


}

ul {
    font-family: Tahoma;
    font-size: 18px;
}

ol {
    font-family: Tahoma, 'Times New Roman', Times, serif font-size: 18px;
}

.moms {
    color: rgb (80, 29, 29);
}